.App {
    padding: 0rem 20rem 1rem 20rem;
}



@media (max-width:1200px) {
    .App {
        padding: 0rem 5rem 1rem 5rem;
    }
}

@media (max-width:850px) {
    .App {
        padding: 0rem 0rem 1rem 0rem;
    }
}